h2 #{title}
form(method='post',action=act)

  p
    label(for="num") Número:
      input(type='text', name='num', value=factura.num)

  p
    label(for="date") Fecha:
      input(type='date', name='date', size=100, value=factura.date)

  p
    label(for="origen") Origen:
      input(type='text', name='origen', value=factura.origen)

  p
    label(for="destino") Destino:
      input(type='text', name='destino', size=100, value=factura.destino)

  p
    label(for="debt") Deuda:
      input(type='text', name='debt', size=100, value=factura.debt)

  p
    label(for="adq") Adquiriente:
      input(type='text', name='adq', value=factura.adq)
  p
    label(for="puesto") Puesto:
      input(type='text', name='puesto', value=factura.puesto)


  p
    input(type='submit', value='Guardar')
